html {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  background-color: #18191a;
  color: #e4e6eb;
}
/* Start of nav bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(38, 37, 38);
  border-radius: 0 0 40px 40px;
  color: white;
}
.logo a img {
  width: 200px;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  padding: 10px;
  margin: 10px;
  display: block;
}
.navbar-links a:hover {
  border-bottom: 2px solid white;
}
.checkbtn {
  display: none;
}
#check {
  display: none;
}

/* End of nav bar */

/* Start of mobile nav bar */
@media screen and (max-width: 800px) {
  .checkbtn {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 10px;
    margin: 10px 0;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 83px;
    right: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #check:checked ~ .navbar-links {
    display: flex;
  }
}
/* End of mobile nav bar */

/* Start of footer*/
.ft {
  background-color: rgb(38, 37, 38);
  color: white;
  border-radius: 40px 40px 0 0;
}
.ft-container {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-nav ul {
  list-style: none;
}
.foot-nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
  display: block;
}
.foot-nav a:hover {
  border-bottom: 2px solid white;
}
.payment_method h3 {
  text-align: center;
  margin-bottom: 30px;
}
.video h3 {
  text-align: center;
  margin-bottom: 50px;
}
.payment-gallery img {
  width: 100px;
  padding: 10px;
  display: block;
  margin: auto;
}
hr {
  color: white;
}
.ft h4 {
  text-align: center;
  padding: 20px;
  color: white;
}
/* End of footer */

/* Start of mobile footer*/
@media screen and (max-width: 800px) {
  .ft-container {
    flex-direction: column;
  }
  .foot-nav {
    margin-bottom: 20px;
  }
}
/* End of mobile footer */

/* Start of breadcrumb */
.breadcrumb {
  display: flex;
  margin: 20px;
}
.breadcrumb ul {
  display: flex;
  list-style: none;
}
.breadcrumb li {
  font-size: 20px;
  font-weight: bold;
}
.breadcrumb li a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: white;
}
.breadcrumb li + li::before {
  content: ">";
  color: white;
}
.breadcrumb li a:hover {
  border-bottom: 2px solid grey;
  color: grey;
}
/* Start of book details */
.book-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.product-details {
  width: 750px;
}
.product-details h2 {
  font-size: 80px;
  margin-bottom: 20px;
}
.product-details p {
  margin-top: 10px;
}
.product-details h3 {
  text-align: center;
}
.product-details button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.product-details button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#main-price {
  font-size: 50px;
  font-weight: bold;
}
#author {
  font-size: 20px;
  font-weight: bold;
}
#desc {
  font-size: 20px;
}
.smaller-gallery img {
  width: 150px;
  height: 200px;
  padding-bottom: 10px;
}
.main-image {
  display: flex;
  justify-content: center;
  padding: 15px;
}
/* End of book details */

/* Start of mobile book details */
@media screen and (max-width: 800px) {
  .book-container {
    flex-direction: column;
  }
  .product-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
  }
  .book-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .smaller-gallery img {
    width: 130px;
    height: 200px;
    padding-bottom: 10px;
  }
  .product-details h2 {
    margin: 20px 0 20px 0;
    text-align: center;
  }
  .product-details button {
    font-size: 30px;
  }
}
/* End of mobile book details */

/* Start of contact form */
.contact-form {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 20px;
}
.contact-form h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
#submit {
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}
#reset {
  background-color: white;
  border: solid 2px black;
  color: black;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}
/* End of contact form */

/* Start of mobile contact form */
@media screen and (max-width: 800px) {
  .contact-form {
    padding: 0 20px 20px 20px;
  }
  #submit {
    width: 150px;
    height: 70px;
    font-size: larger;
  }
  #reset {
    width: 150px;
    height: 70px;
    font-size: larger;
  }
}
/* End of mobile contact form */

/* Start of home page */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.product img {
  width: 200px;
}
.product {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(38, 37, 38);
  color: white;
}
.product button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.product a {
  text-decoration: none;
  color: #e4e6eb;
}
.product h2 {
  padding: 10px;
  text-align: center;
}
.product:hover {
  transform: translateY(-10px);
  transition: 0.25s;
  cursor: pointer;
}
#price {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.store-header {
  background-color: #3a3b3c;
  color: white;
  border-radius: 20px;
  padding: 10px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  justify-content: space-between;
}
.store-header a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
.store-header h1 {
  margin-left: 10px;
}

/* Start of mobile home page */
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
  }
  .product {
    margin: 0 auto 20px auto;
  }
  .store-header {
    margin-left: 50px;
    margin-right: 50px;
  }
}
